In [1]:
!wc -l green_tripdata_2019-10.csv

  476387 green_tripdata_2019-10.csv

In [2]:
import pandas as pd
pd.DataFrame.iteritems = pd.DataFrame.items

In [3]:
columns = ["lpep_pickup_datetime", "lpep_dropoff_datetime", "PULocationID", "DOLocationID", "passenger_count", "trip_distance", "tip_amount"]
df_green = pd.read_csv('green_tripdata_2019-10.csv', usecols=columns)

In [4]:
df_green.head(10)

,lpep_pickup_datetime,lpep_dropoff_datetime,PULocationID,DOLocationID,passenger_count,trip_distance,tip_amount
0,2019-10-01 00:26:02,2019-10-01 00:39:58,112,196,1.0,5.88,0.00
1,2019-10-01 00:18:11,2019-10-01 00:22:38,43,263,1.0,0.80,0.00
2,2019-10-01 00:09:31,2019-10-01 00:24:47,255,228,2.0,7.50,0.00
3,2019-10-01 00:37:40,2019-10-01 00:41:49,181,181,1.0,0.90,0.00
4,2019-10-01 00:08:13,2019-10-01 00:17:56,97,188,1.0,2.52,2.26
5,2019-10-01 00:35:01,2019-10-01 00:43:40,65,49,1.0,1.47,1.86
6,2019-10-01 00:28:09,2019-10-01 00:30:49,7,179,1.0,0.60,1.00
7,2019-10-01 00:28:26,2019-10-01 00:32:01,41,74,1.0,0.56,0.00
8,2019-10-01 00:14:01,2019-10-01 00:26:16,255,49,1.0,2.42,0.00
9,2019-10-01 00:03:03,2019-10-01 00:17:13,130,131,1.0,3.40,2.85

In [6]:
import json
import time 

from kafka import KafkaProducer

def json_serializer(data):
    return json.dumps(data).encode('utf-8')

server = 'localhost:9092'

producer = KafkaProducer(
    bootstrap_servers=[server],
    value_serializer=json_serializer
)

producer.bootstrap_connected()

True

In [18]:
t0 = time.time()

topic_name = 'green-trips'

for row in df_green.itertuples(index=False):
    row_dict = {col: getattr(row, col) for col in row._fields}
    producer.send(topic_name, value=row_dict)

t1 = time.time()

print(f'took {(t1 - t0):.2f} seconds to send the data')

took 64.69 seconds to send the data